[Desktop Entry]
Encoding=UTF-8
Name=Delion
Comment=Delion P2P Cryptocurrency
Comment[fr]=Delion, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Delion, eşten eşe kriptografik sanal para birimi
Exec=delion-qt %u
Terminal=false
Type=Application
Icon=delion128
MimeType=x-scheme-handler/delion;
Categories=Office;Finance;
